.custom-background{
    background-image: url(https://c.pxhere.com/images/20/4a/530294c5b6c9813a64e4a4b1c850-1602073.jpg!d);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}